<div class="relative absolute top left fill zxs">
  <div class="row mhn">
    <div class="col-sm-3 phn absolute top bottom bg-2 bss bwrs bc-2 hidden-xs">
      <div class="absolute top left right dvxxxl">
        <div class="dvl lhl bg-blue c-16 text-center">
          <i class="icon-logo fsxxxxxl"></i>
        </div>
        <div class="paxs">
          <input type="text" name="name" placeholder="Search games" class="phxs pvxxxs bg-4 c-12 bss bwts bwhs bc-2 full-width js-search-channels"/>
        </div>
      </div>
      <div class="absolute top left right bottom mtxxxxxl mbxxl js-theatre-channels" style="overflow-y: auto">
        <% @channels.each do |channel| %>
          <div class="bss bwts-plus bc-5 pointer js-theatre-channel" data-name="<%= channel.name %>">
            <div class="paxs bg-4 bg-5-hover bg-6-active c-11 c-12-hover c-14-active bss bwbs bc-2 nowrap" style="overflow: hidden;text-overflow: ellipsis;">
              <%= channel.name %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="absolute bottom left right dvl lhl c-8 fsxxxs text-center">
        privacy | contact
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-offset-3 phn absolute top bottom bg-5" style="overflow-y: auto">
      <div class="relative phxs bg-2 dvl zxl">
        <div class="row nmhxxxs">
          <div class="col-xs-4 phxxxs">
            <img class="mtxxxs mrxs dam pull-left hide js-channel-logo"/>
            <div class="dvs lhs c-14 fsm nowrap js-channel-status" style="overflow: hidden;text-overflow: ellipsis;"></div>
            <div class="dvxs lhxs c-10 fsxxs nowrap js-channel-display-name" style="overflow: hidden;text-overflow: ellipsis;"></div>
          </div>
          <div class="col-xs-4 phxxxs text-center">
            <table class="mha">
              <tr>
                <td class="phs">
                  <div class="mtxxxs dam lhm bg-6 bg-8-hover c-10 c-16-hover fsxs circle pointer">
                    <i class="fa fa-thumbs-down"></i>
                  </div>
                </td>
                <td class="phs">
                  <div class="mtxxxs dam lhm bg-6 bg-8-hover c-10 c-16-hover fsxs circle pointer">
                    <i class="fa fa-thumbs-up"></i>
                  </div>
                </td>
                <td class="phs">
                  <div class="mtxxxs dam lhm bg-6 bg-8-hover c-10 c-16-hover fsxs circle pointer js-theatre-skip">
                    <i class="fa fa-step-forward"></i>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-xs-4 phxxxs text-right">
            <div class="js-tab" data-target="#account">
              <div class="mtxxxs dam lhm bg-3 bg-4-hover bg-1-active c-10 c-11-hover c-blue-active bss bwas bc-1 text-center pointer pull-right">
                <i class="fa fa-cube fsm"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="video-container">
        <div id="twitch_embed_player">
        </div>
      </div>
    </div>
    <div id="account" class="col-xs-12 col-sm-3 col-md-2 phn mtxxl absolute top right zxl hide">
      <div class="mhxs bg-1 c-16 fsxxxs">
        <div class="phxs pvm c-blue nowrap no-overflow" style="text-overflow: ellipsis;">
          <%= current_user.email %>
        </div>
        <div class="paxs">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="mrxs pull-left">
              <i class="fa fa-sign-out fsxs"></i>
            </div>
            logout
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
